-----BEGIN CERTIFICATE-----
MIIDWDCCAkACCQD3Qsl3+3hK+TANBgkqhkiG9w0BAQUFADBuMQswCQYDVQQGEwJV
czERMA8GA1UECBMITmV3IFlvcmsxETAPBgNVBAcTCE5ldyBZb3JrMRQwEgYDVQQK
EwtWQUdSQU5UIEJPWDEjMCEGA1UEAxMaZG9ja2VycmVnLnZnLnJvdXRlMTMzNy5j
b20wHhcNMTYwNDA2MTQ1NTE1WhcNMzYwNDAxMTQ1NTE1WjBuMQswCQYDVQQGEwJV
czERMA8GA1UECBMITmV3IFlvcmsxETAPBgNVBAcTCE5ldyBZb3JrMRQwEgYDVQQK
EwtWQUdSQU5UIEJPWDEjMCEGA1UEAxMaZG9ja2VycmVnLnZnLnJvdXRlMTMzNy5j
b20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC88/yOXlY9q3BGNO4b
Vd8fCvL+XtuVnOm981UCmEHdiQox/mkRh/eGTGQRDmyM9tyrgVJ+l1myWPjpTTbl
R/GG56wszOsIHCL568nh03rc8kDOyVzMEipS7tKzDGHot5umDbPWsY7B67CaoHAg
dKTsJvMiUErcpSbI+3IBl/8X5MvL8ULJJmK/a3K3Or0aBOEjhCt9NGx9/N/oPoYf
tL2xJcov+FkDfR48ILQcBvIyl3bNhwbG3tixTmVzpNC9ML3845EEjqS6ddEylt8V
x9J8bQT+tLC26JcjdovqzSxW3fQKeg3kbRnF1Q3MUsjwghK20er58y1BNlyjZOHK
7qvpAgMBAAEwDQYJKoZIhvcNAQEFBQADggEBAGdi+gvEznlHgfmhJPtDDsLuNIU6
to7m85Z80I+VYcuNS5h6lHumDXUgpcUtZVxieD7Wo5UfdHZaul0NECMnG1hJp84N
R0qFyMoudLN70yu2cILccEovuddSwFOvhD6R+uk8ljn4c66a7KCQdxLJZ1fDOou2
SOvtpagzgoYnkfdlfJBAK8WEAV2iEt6Ws5YMsTAu9/FTxt3gohTTV7jCxbMZvJUS
Fi7cguvDdC3kBae8t0kQ5PJDGT51IY6i55f9wtbRzbQy6cF5aFfP9DCt+jUJ7OoH
jJpse3aJ/9Gu0ZLYZF1ZkgnjHAVjl7U8bKiewb8cJiKqIOEfNIfxvbj4iaw=
-----END CERTIFICATE-----
